<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O seu sucesso é o nosso sucesso!</h2>
                <hr class="light">
                <p class="text-faded">Nosso propósito é construir sólidas relações com nossos clientes para que possamos, 
                    com nossa expertise, auxiliar na resolução dos problemas de maneira eficiente, conciliando qualidade, 
                    valor ao negócio e inovação. Para isso, fornecemos serviços de desenvolvimento de software, 
                    das mais diversas plataformas e produtos, temos um time com vasto background e reconhecido por sua excelência técnica, 
                    com diversos cases de projetos desafiadores e engrandecedores para a nossa companhia.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
