<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O seu sucesso é o nosso sucesso!</h2>
                <hr class="light">
                <p class="text-faded">Nosso propósito é construir excelentes relações com nossos clientes de modo que possamos assim, identificar seu modelo de atuação, características do negócio e quais são suas dores ou dificuldades do dia-a-dia, para que possamos, com nossa expertise, auxiliar na resolução dessas dificuldades da maneira mais eficiente possível, conciliando qualidade, valor ao negócio e inovação. Para isso, fornecemos serviços de consultoria em tecnologia/desenvolvimento de software, das mais diversas plataformas e produtos, temos um time com vasto background e reconhecido por sua excelência tecnica, com diversos cases de projetos desafiadores e engrandecedores para a nossa companhia.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
