<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" style="height: 330px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Salesforce
                            </div>
                            <div class="project-name">
                                CRM Cloud, Service cloud, Marketing Cloud
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/csharp2.png" class="img-responsive" style="height: 330px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                C#
                            </div>
                            <div class="project-name">
                                .Net Framework, .Net Core
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/java2.png" class="img-responsive" style="height: 330px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Java
                            </div>
                            <div class="project-name">
                                Spring
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
